Flask==1.1.1
flask_json
gunicorn
requests
geographiclib
sklearn
tqdm
xgboost
pandas
pymorphy2
psycopg2-binary
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
colorama
stop_words
nltk
termcolor
stop_words
ml_metrics
numpy
pymystem3
